git+https://github.com/wbaek/theconf
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
git+https://github.com/ildoonet/pystopwatch2.git
git+https://github.com/hyperopt/hyperopt.git
pretrainedmodels
tqdm
tensorboardx
sklearn
ray
matplotlib
psutil
requests
adversarial-robustness-toolbox==1.2.0
keras-resnet
scikit-image==0.17.2
